body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0 0 24px;
    color: #bfbfbf;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}

section {
    margin-bottom: 45px;
}

section:first-child {
    margin-bottom: 55px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

i {
    display: inline-block;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 68px 15px 52px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #fff;
    background-color: #2a3644;
    border-radius: 3px;
}

.menu-container:last-child {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu li {
    position: relative;
    /* flex-grow: 1; */
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.menu .submenu {
    position: absolute;
    top: 100%;
    z-index: 2;
    display: none;
    border-radius: 3px;
}

.menu > li > .submenu {
    border-top: 5px solid transparent;
}

.menu .submenu li a {
    border-bottom: 1px solid #b9bdc1;
}

.menu .submenu li:last-child a {
    border-bottom: 1px solid #d2d4d5;
}

.menu .submenu li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.menu .submenu li:last-child {
    border-bottom: 3px solid #d2d4d5;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.menu > li:last-child .submenu {
    right: 0;
}

.menu-3 > li:last-child .submenu {
    left: 0;
}

.menu .submenu .submenu {
    top: 0;
    left: 100%;
    padding-left: 5px;
}

.menu .submenu .submenu .submenu {
    right: 100%;
    left: unset;
    padding-right: 5px;
    padding-left: 0;
}

.menu a {
    padding: 14px 30px 13px;
    font-weight: bold;
}

.menu .submenu li {
    width: 210px;
    text-align: left;
    background-color: #d2d4d5;
}

.menu .submenu a {
    padding: 11px 20px 11px;
    color: #2a3644;
    font-size: 15px;
}

/*Бордеры на ссылках. Уточнить или правильно так. При сжимании ламаеться*/

.menu > li + li > a {
    border-left: 1px solid #3f4852;
}

.menu-1 > li > a {
    border-right: 1px solid #3f4852;
}

.menu-1 > li:last-child > a {
    border-right: none;
}

.menu-2 > li > a {
    padding-right: 40px;
    padding-left: 40px;
}

.menu-2 .grow {
    flex-grow: 1;
    text-align: center;
}

.menu > li:hover > a {
    color: #fd8612;
    background-color: #3f4852;
}

.menu-3 li:hover > a .icon {
    background-position-y: -20px;
}

.menu .submenu li:hover > a {
    color: #ff8505;
    background-color: #2a3644;
    border-bottom: 1px solid #2a3644;
}

.menu .submenu li:first-child:hover > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.menu li:hover > .submenu {
    display: block;
}

.menu-3__social {
    min-width: 149px;
    padding: 14px 30px 13px;
    font-size: 0;
    text-align: right;
}

.menu-3__social li {
    display: inline-block;
}

.menu-3__social li + li {
    margin-left: 25px;
}

.icon {
    background-image: url('../img/sprites.png');
}

.icon-home {
    width: 16px;
    height: 13px;
    background-position: 0 0;
}

.icon-fb {
    width: 9px;
    height: 18px;
    background-position: -18px 0;
}

.icon-inst {
    width: 14px;
    height: 16px;
    background-position: -29px 0;
}

.icon-tw {
    width: 16px;
    height: 14px;
    background-position: -45px 0;
}

.icon:hover {
    background-position-y: -20px;
}

.menu-3 i {
    margin-right: 15px;
}

/* Table */

table {
    width: 100%;
    border-radius: 3px;
    border-collapse: collapse;
}

th,
td {
    box-sizing: border-box;
    padding: 14px 22px 13px 25px;
    background-color: #f2f2f2;
    transition: 0.2s ease-out;
}

th {
    color: #fff;
    background-color: #2a3644;
    border-bottom: 1px solid #2a3644;
    border-left: 1px solid #3f4852;
}

td {
    cursor: pointer;
}

tr:nth-child(even) td {
    background-color: #e8e8e8;
}

thead tr:first-child th:last-child {
    border-bottom: 1px solid #3f4852;
    border-top-right-radius: 3px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td + td {
    border-left: 1px solid #c0c1c2;
}

tr td {
    border-top: 1px solid #c0c1c2;
}

thead tr:first-child th:first-child {
    width: 60px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-left: none;
    border-top-left-radius: 3px;
}

td:first-child {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

tr:first-child th:nth-child(2) {
    text-align: left;
}

thead tr + tr th {
    width: 131px;
}

td:nth-child(n + 3) {
    text-align: right;
}

tbody tr:hover td {
    background-color: #c0c1c2;
}

/* Table CSS*/

.table {
    display: table;
    width: 100%;
}

.table div {
    display: table-row;
}

.table span {
    display: table-cell;
    box-sizing: border-box;
    padding: 14px 28px 13px 25px;
    text-align: right;
    background-color: #e8e8e8;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.table span:first-child {
    width: 60px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.table span:nth-child(2) {
    width: 507px;
    text-align: left;
}

.table div:first-child span {
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-color: #2a3644;
    cursor: auto;
}

.table div:nth-child(2n) span {
    background-color: #f2f2f2;
}

.table div:nth-child(n + 2) + div span {
    border-top: 1px solid #c0c1c2;
}

.table span + span {
    border-left: 1px solid #c0c1c2;
}

.table div:first-child span + span {
    border-left: 1px solid #3f4852;
}

.table div:last-child span:first-child {
    border-bottom-left-radius: 3px;
}

.table div:last-child span:last-child {
    border-bottom-right-radius: 3px;
}

.table div + div:hover span {
    background-color: #c0c1c2;
}
